@charset "utf-8";

// 여백 제거 반복 구문
@mixin cssDefault() {
  margin:0;
  padding:0;
}

// 히든 텍스트 반복 구문
@mixin blind() {
  overflow:hidden;
  position:absolute;
  width:1px;
  height:1px;
  clip:rect(1px, 1px, 1px, 1px);
}

// clearfix 반복 구문
@mixin clearfix() {
  &:after {
    display:table;
    table-layout:fixed;
    clear:both;
    content:"";
  }
}

// 말줄임 반복 구문
@mixin ellipsis($width:$full) {
  display:block;
  overflow:hidden;
  width:$width;
  text-overflow:ellipsis;
  white-space:nowrap;
}

// 가로*세로 크기 동시 적용
@mixin size($width, $height:$width) {
  width:$width;
  height:$height;
}

// 배경 이미지
@mixin bgImg($value, $repeat, $positionX:$zero, $positionY:$positionX) {
  background:url($value) $repeat $positionX $positionY;
}

// 가로 그라데이션
@mixin gradientX($startColor, $endColor, $startPosition:0%, $endPosition:100%) {
  background-image:linear-gradient(to right, $startColor $startPosition, $endColor $endPosition);
}

// 세로 그라데이션
@mixin gradientY($startColor, $endColor, $startPosition:0%, $endPosition:100%) {
  background-image:linear-gradient(to bottom, $startColor $startPosition, $endColor $endPosition);
}

// 탭 만들기
@mixin makeTab($child) {
  @include clearfix();
  #{$child} {
    float:left;
    color:#fff;
    background:#aaa;
    &:hover,
    &.on {
      color:#000;
      font-weight:bold;
      background:#fff;
    }
  }
}
// @include makeTab(li); => (자식요소)
// @include makeTab(".step"); => 자식요소로 클래스 사용 시 따옴표 표기