// color
$black:#000;
$white:#fff;
$primaryColor:#f00;
$secondaryColor:#f60;
$borderColor:#ccc;
$borderOnColor:#aaa;

// size
$zero:0;
$half:50%;
$full:100%;
$sizeL:40px;
$sizeM:30px;
$sizeS:20px;
$sizeMobile:970px;