.main {min-width:980px;}
.main .box_slide {position:relative;top:-90px;height:704px;overflow:hidden;}
.main .box_slide ul.slide_list {width:100%;height:704px;}
.main .box_slide ul.slide_list li {width:100%;height:100%;}
.main .box_slide ul.slide_list li.bg_slide01 {background:url(/src/resources/images/main/img_main01.jpg) no-repeat 50% top;}
.main .box_slide ul.slide_list li.bg_slide02 {background:url(/src/resources/images/main/img_main02.jpg) no-repeat 50% top;}
.main .box_slide ul.slide_list li.bg_slide03 {background:url(/src/resources/images/main/img_main03.jpg) no-repeat 50% top;}
.main .box_slide ul.dot_slide {position:absolute;left:50%;top:145px;padding-left:430px;display:inline-block;}
.main .box_slide ul.dot_slide li {display:inline-block;width:13px;height:13px;padding:0 3px;}
.main .box_slide ul.dot_slide button {width:14px;height:14px;border:0;padding:0;border-radius:50%;background:#fff;text-indent:-9999px;}
.main .box_slide ul.dot_slide button.on {background:#000;}