html,
body,
header,
nav,
aside,
main,
article,
section,
footer,
h1,
h2,
h3,
h4,
ul,
ol,
li,
dl,
dt,
dd,
p,
em,
address,
blockquote,
q,
form,
fieldset,
input,
textarea,
select,
button,
iframe {
  @include cssDefault;
}

body {
  color: $fontColor;
  font-family:$fontFamily;
  font-size:$fontSize;
}
header,
nav,
aside,
main,
article,
section,
footer {
  display:block;
}
input,
textarea,
select,
button {
  border-radius:0;
  box-sizing:border-box;
  font-family:inherit;
}
ul,
ol {
  list-style:none;
}
blockquote,
q {
  quotes:none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content:"";
}
img,
fieldset,
iframe {
  border:none;
}
hr {
  display:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
em,
address {
  font-style:normal;
}
a {
  color:$linkColor;
  text-decoration:none;
}
button {
  border:none;
  border-radius:0;
  background:none;
  cursor:pointer;
}
.hidden, .blind {
  @include blind();
}
.ellipsis {
  @include ellipsis();
}