@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
$fontColor:#666;
$fontFamily:"Noto Sans KR",Dotum,sans-serif;
$fontSize:12px;
$linkColor:$fontColor;
$placeholder:lighten($fontColor, 50%);