#footer_wrap { border-top:1px #c4c4c4 solid; width:100%; background-color:#fff; }
#footer { position:relative; width:831px; height:46px; padding-left:140px; margin:0 auto; padding-top:50px; background:url(/imgs/common/footer_logo_180124.gif) left 25px no-repeat; }
#footer li { float:left; position:relative; background:url(/imgs/common/footer_navi_line.gif) right 50% no-repeat; margin-left:8px; padding-right:8px;}
#footer .footer_navi { position:absolute; top:28px; left:132px; }
#footer .copyright{ background:url(/imgs/common/copyright.gif) left top no-repeat; width:248px; height:12px; margin-top:10px; padding-bottom:15px;}
#footer .guide { position:absolute; top:28px; right:0;}
#footer li.last,
#footer li.staff,
#footer li.twitter { background:none; padding-right:0;}
#footer li.facebook { background:none; padding-right:0;margin-left:3px;}
#footer .family_site { position:absolute; top:55px; right:0;}
#footer #family_site { color:#999; font-size:90%;}
address { background:url(http://www.saraminimage.co.kr/hr/address_20141205.png) left top no-repeat; width: 395px; height: 25px; text-indent: -10000px; }