
.main + #footer_wrap {
  top: -150px;
}
#footer_wrap {
  position: relative;
  margin-top: 60px;
  width: 100%;
  border-top: 1px #c4c4c4 solid;
  background-color: #fff;
  font-size: 12px;
  z-index: 100;

  #footer {
    position: relative;
    width: 830px;
    margin: 0 auto;
    padding: 30px 0 0 140px;
    @include bgImg("/src/resources/images/common/footer_logo_20180817.gif", no-repeat, 0, 30px);

    .footer_logo {
      position: absolute;
      left: 0;
      top: 30px;
    }

    .footer_navi {
      display: block;
      font-weight: bold;
      @include clearfix();
      li {
        float: left;
        position: relative;
        padding: 0 8px;
        @include bgImg("/src/resources/images/common/footer_navi_line.gif", no-repeat, 0, 4px);

        &:first-child {
          padding-left: 0;
          background: none;
        }
        strong {
          color: #385ab0;
        }
      }
    }
    address {
      font-size: 11px;
      margin-top: 5px;
      line-height: 1.5;
      color: #888;
    }
    .copyright {
      display: block;
      margin-top: 10px;
      padding-bottom: 15px;
      font-size: 11px;
      color: #888;
    }
  }
}

@media screen and (max-width:$sizeMobile) {
  .main + #footer_wrap {
    top: -128px;
  }
  #footer_wrap {
    #footer {
      width: calc(100% - 20px);
      padding: 30px 10px;
      background: none;
    }
  }
}