#header {
  position: relative;
  top:0;
  @include size(980px, 90px);
  margin: 0 auto;
  z-index: 100;
  .bi {
    position: absolute;
    top: 37px;
    left: 0;
  }
  .nav {
    position: absolute;
    top: 55px;
    right: 130px;
    width: 620px;
    li {
      float: left;
      font-size: 18px;
      margin-left: 60px;
      font-weight: bold;
      > a.active {
        color:#4876ef
      }
    }

  }
  .util_option {
    position: absolute;
    top: 60px;
    right: 0;
    width: 140px;
    li {
      float: left;
      margin-left: 10px;
      text-align: right;
      font-size: 11px;
      color: #848484
    }
    li a.bg_round {
      padding: 2px 12px 1px;
      background-color: #3557af;
      border-radius: 8px;
      color: #fff;
    }
  }
  &.main .nav a {
    color: #fff
  }
  &.main .util_option li a {
    color: #fff
  }
}

.dot_slide {position:absolute;right:0;bottom:0;}