@charset "utf-8";

.main {
  min-width: 980px;
  position: absolute;
  top: -90px;
  .area_slide {
    position:relative;
    height: 704px;
    overflow: hidden;
    .slide_list {
      @include size($full, 704px);
      li {
        @include size($full);
      }
      li .slide_name {
        display: none;
        position: absolute;
        top: 142px;
        left: 50%;
        padding-left: 400px;
        font-weight: bold;
        font-size: 14px;
      }
      li dl {
        font-weight: bold;
        letter-spacing: -1px;
      }
      li dl dt {
        text-shadow: 1px 1px 2px rgba(255, 255, 255, .7);
      }
      li dl dt span {
        display: block;
        font-size: 20px;
        text-decoration: underline
      }
      li dl dt strong {
        font-size: 90px;
        letter-spacing: -2px;
      }
      li dl dd {
        margin-top: 20px;
      }
      li dl dd p.kor_text {
        font-size: 23px;
      }
      li dl dd p.eng_text {
        margin-top: 10px;
        font-size: 18px;
      }
      li.bg_slide01 {
        @include bgImg("/src/resources/images/main/img_main01.jpg", no-repeat, 50%, 0);
        color: #8cc922
      }
      li.bg_slide01 dl {
        padding: 140px 450px 0 0;
        text-align: center;
      }
      li.bg_slide01 dl dd p.kor_text {
        color: #d2fea6;
      }
      li.bg_slide01 dl dd p.eng_text {
        color: #95d428;
      }
      li.bg_slide02 {
        @include bgImg("/src/resources/images/main/img_main02.jpg", no-repeat, 50%, 0);
        color: #0a6091
      }
      li.bg_slide02 dl {
        padding-top: 145px;
        text-align: center;
      }
      li.bg_slide02 dl dd p.kor_text {
        color: #dff9fe;
        text-shadow: 1px 1px 1px #9b9fa0;
      }
      li.bg_slide02 dl dd p.eng_text {
        color: #31869f;
      }
      li.bg_slide03 {
        @include bgImg("/src/resources/images/main/img_main03.jpg", no-repeat, 50%, 0);
        color: #0a6091
      }
      li.bg_slide03 dl {
        padding: 200px 0 0 500px;
        text-align: center;
      }
      li.bg_slide03 dl dd p.kor_text {
        color: #d1ecff;
        text-shadow: 0 0 1px #939194;
      }
      li.bg_slide03 dl dd p.eng_text {
        color: #2d3d4e;
      }
    }
    .dot_slide {
      display: inline-block;
      position: absolute;
      top: 145px;
      left: 50%;
      padding-left: 430px;
      li {
        display: inline-block;
        width: 13px;
        height: 13px;
        padding: 0 3px;
      }
      button {
        @include size(14px);
        border: 0;
        padding: 0;
        border-radius: 50%;
        background: #fff;
        text-indent: -9999px;
      }
      button.on {
        background-color: #0a6091;
      }
      li:first-child button.on {
        background-color: #8cc922;
      }
    }
  }

  .area_info {
    width:970px;
    margin:0 auto;
    @include clearfix();
    ul.box_link {
      float:left;
      width:630px;
      font-size:11px;
      color:#6e6e6e;
      @include clearfix();
      li {
        float:left;
        width:130px;
        padding:18px 10px 24px 70px;
        &.bg_link01 {
          @include bgImg("/src/resources/images/main/bg_box_link01.png", no-repeat, 0, 30px);
        }
        &.bg_link02 {
          @include bgImg("/src/resources/images/main/bg_box_link02.png", no-repeat, 0, 30px);
        }
        &.bg_link03 {
          @include bgImg("/src/resources/images/main/bg_box_link03.png", no-repeat, 0, 30px);
        }
      }
      strong {
        font-size:14px;
        color:#242323;
      }
      p {
        margin-top:7px;
      }
      span {
        display:block;
        margin-top:10px;
        width:41px;
        height:15px;
        border-radius: 7px;
        background-color:#e2e2e2;
        font-size:8px;
        text-align:center;
        color:#6e6e6e;
      }
    }
    div.box_board {
      position:relative;
      float:left;
      width:330px;
      padding:0 0 24px 10px;
      font-size:11px;
      color:#706f6f;
      div.tab_title {
        margin-top:15px;
        button {
          position:relative;
          font-size: $fontSize;
          color:#706f6f;
          font-weight:bold;
          padding:0 11px;
          &.on, &:hover {
            color:#242323;
          }
          &:after {
            position:absolute;
            top:4px;
            right:0;
            width:1px;
            height:11px;
            background-color:#cfcfcf;
            content:"";
          }
          &:first-child {
            padding-left:0;
          }
          &:last-child {
            &:after {
              display:none;
            }
          }
        }
      }
      ul.tab_cont {
        margin-top:10px;
        a {
          @include ellipsis(75%);
          display:inline-block;
          &:hover {
            text-decoration:underline;
          }
        }
        span {
          display:inline-block;
          vertical-align:top;
          padding-left:25px;
        }
      }
      a.allView {
        position:absolute;
        right:0;
        top:18px;
      }
    }
  }
}